body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.dodecahedron-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}